{% extends "base.html" %}

{% block content %}
<div class="recipe-detail-container">
    <div class="recipe-name-box">
        <h2>{{ recipe['name'] }}</h2>
        <a href="{{ url_for('update_recipe', recipe_id=recipe['id']) }}" class="update-button">Update</a>
    </div>
    <img src="{{ recipe['image_url'] }}" alt="Recipe Image" class="recipe-image">
    <div class="recipe-ingredients-box">
        <h3>Ingredients</h3>
        <p>{{ recipe['ingredients'].replace('\n', '<br>') | safe }}</p>
    </div>
    <div class="recipe-instructions-box">
        <h3>Instructions</h3>
        <p>{{ recipe['instructions'].replace('\n', '<br>') | safe }}</p>
    </div>
</div>
{% endblock %}
